# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
*.db
*.xlsx
# Eagle temp files
*.s#*
*.b#*

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

/src/v.0.0.0/FreeMODBUS/Master/Control Center/Debug/*
/src/v.0.0.0/FreeMODBUS/Master/Control Center/ipch/*
/doc/mcu-bg.com/*
/doc/Multimedia/*
/doc/Orlin/*
/doc/Pictures/*
/doc/Prodava se/*
/doc/User Manual/*
/doc/Robko01-master.zip
/doc/SNS_2009/*
/doc/ROBKO_2015/*
/doc/ROBKO_2015/*
/doc/ROBKO_2015/img/*
/doc/ROBKO_2015/doc/*
/doc/Robko01-master.zip
/doc/Multimedia/Pictures/04.11.2013/Small/*

!/src/v.0.0.0/FreeMODBUS/Master/Control Center/Debug/com.exe
!/doc/SNS_2009/SNS_2009_ROBKO_Cv_De_Si_04_09_doc.pdf
!/doc/SNS_2009/SNS_2009_ROBKO_Cv_De_Si_04_09_ppt.pdf
!/doc/ROBKO_2015/ROBKO_04.04.2015_ppt.pdf
!/doc/Multimedia/Pictures/04.11.2013/Small/IMG_0055.jpg