div#sides_width{width:225px}ul#user_navigation
a{line-height:2px !important}input.price_field_mod{color:gray	!important;font-size:11px	!important;font-style:italic	!important}div#dynamic_login{display:none}div#dynamic_login
table#separate{width:100%}div#dynamic_login table#separate td.links
a{font-style:italic;font-size:11px;color:gray !important}div#dynamic_login table#separate td.links a:hover{color:#2E5035 !important}div#send_mail_dialog{display:none;padding:0!important;width:470px;height:243px}table.rate{margin:auto;margin-top:-1px}table.rate
td{padding-right:3px}table.rate
div.user_rate_icon{background-position:-4px -4px;height:18px;width:18px}div.mask_container{display:none}div.mask_container
div.mask{position:absolute;background:url('../css/images/ui-bg_flat_0_aaaaaa_40x100_gray.gif') repeat-x scroll 50% 50% #D1D1D1;opacity:0.2;filter:alpha(opacity = 20);background-repeat:repeat;height:100%;width:100%;left:0;top:0;z-index:5000}div.mask_container
div.animation{position:absolute;background-image:url('../images/loaders/loader-green_circle.gif');background-repeat:no-repeat;width:52px;height:52px;left:50%;top:50%;margin:-26px 0 0 -26px;z-index:5001}div#send_mail_dialog
tr.status_message{display:none}div.secure_delivery{width:35px;height:41px;background-image:url(../images/sprites/econt.png);background-position:-480px -0px;background-repeat:no-repeat;margin:5px;cursor:help}a.green_black{color:#2E5035 !important;text-decoration:underline !important}a.green_black:hover{color:black !important;text-decoration:none !important}div.category_icon{background-repeat:no-repeat;background-position:center center;width:48px;height:48px}div#section_header{height:50px;position:relative;margin:5px
0 0}div#section_header.clear_top{margin-top:-8px}div#section_header
div.icon{position:absolute;width:48px;height:48px;top:1px;left:6px;z-index:10;background-repeat:no-repeat;background-position:center center}div#section_header
div.background{position:absolute;width:100%;height:30px;top:10px;background-image:url('../images/section_header_bg.png');background-repeat:repeat;background-position:center center;background-image:linear-gradient(bottom, rgb(255,221,119) 0%, rgb(255,200,89) 50%, rgb(255,221,119) 100%);background-image:-o-linear-gradient(bottom, rgb(255,221,119) 0%, rgb(255,200,89) 50%, rgb(255,221,119) 100%);background-image:-moz-linear-gradient(bottom, rgb(255,221,119) 0%, rgb(255,200,89) 50%, rgb(255,221,119) 100%);background-image:-webkit-linear-gradient(bottom, rgb(255,221,119) 0%, rgb(255,200,89) 50%, rgb(255,221,119) 100%);background-image:-ms-linear-gradient(bottom, rgb(255,221,119) 0%, rgb(255,200,89) 50%, rgb(255,221,119) 100%);background-image:-webkit-gradient(
linear,
left bottom,
left top,
color-stop(0, rgb(255,221,119)),
color-stop(0.5, rgb(255,200,89)),
color-stop(1, rgb(255,221,119))
);border-radius:2px;-ms-border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;-o-border-radius:2px}div#section_header div.background
div.title{border-width:0;color:#2E5035;font-size:13px;font-weight:bold;padding:8px
8px 8px 55px;margin:0;text-align:left}div#section_header div.background
div.title.auction_title{text-align:center;font-size:16px}div#section_header div.background div.title.auction_title
a{font-family:Tahoma,sans-serif,Arial;font-size:11px}div#section_header div.background
div.title.equal_padding{padding:8px}div.last_visited_auctions{margin:32px
0}table.separate{border-collapse:separate;border-spacing:5px;width:100%;margin:auto}table.separate
td{padding:0;margin:0;white-space:nowrap}table.separate
th.w100prc{width:100%}table.separate
td.w100prc{width:100%}table.separate
th.w50prc{width:50%}table.separate
td.w50prc{width:50%}table.separate
th.w75prc{width:75%}table.separate
td.w75prc{width:75%}table.separate
th.w25prc{width:25%}table.separate
td.w25prc{width:25%}table.separate
td.px{width:1px}table.separate
td.ta_left{text-align:left}table.separate
td.ta_center{text-align:center}table.separate
td.ta_right{text-align:right}table.separate
td.va_top{vertical-align:top}table.separate
td.va_middle{vertical-align:middle}table.separate
td.va_bottom{vertical-align:bottom}table#menu_list_cat{border-collapse:collapse;border-spacing:0;width:100% !important;margin:-10px auto 0 !important}table#menu_list_cat
tr{border-bottom:1px solid rgb(221, 221, 221)}table#menu_list_cat
td{margin:0
!important;padding:6px
0!important;text-align:left !important}table#menu_list_cat tr td:first-child{padding-left:4px !important}table#page_layout div.categories_list table#menu_list_cat tr td:first-child{padding-left:8px !important}table#page_layout div.categories_list.selected_ table#menu_list_cat tr td:first-child{padding-left:8px !important}div.right_side_container____{max-width:225px !important;min-width:225px !important}div.categories_list{max-width:237px !important;min-width:237px !important}div.left_side_container{max-width:237px !important;min-width:237px !important}div.left_side_container form#browse_categories table#menu_list_cat tr td:first-child{padding-left:8px !important}div.left_side_container div.similar_categories table#menu_list_cat tr td:first-child{padding-left:8px !important}table#menu_list_cat
td.va_left{text-align:left}table#menu_list_cat
td.va_center{text-align:center}table#menu_list_cat
td.px{width:1px}table#menu_list_cat td
a{color:rgb(67, 68, 72);font-size:12px;font-weight:bold}table#menu_list_cat td
span.counter_{color:rgb(130, 132, 138);font-size:11px;font-weight:normal}table#menu_list_cat td
div.cat_arrow{width:5px;height:10px;margin:4px
0 3px;background-image:url('../images/cat_arrow.png');background-repeat:no-repeat;background-position:center center}table#menu_list_cat td
div.private_cat{margin:0
5px;height:16px;width:16px}table#menu_list_cat td
div.sizer{margin:0
5px;height:16px}table#menu_list_cat td
div.thumb_container{background-color:rgb(255, 255, 255);position:relative;height:58px;width:58px}table#menu_list_cat td
div.thumb_border{background-color:rgb(255, 255, 255);position:absolute;border:1px
solid rgb(221, 221, 221);-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;width:48px;height:48px;padding:4px}table#menu_list_cat
tr.auction_row{}table#menu_list_cat
tr.auction_row.hidden{display:none}table#menu_list_cat tr.auction_row:hover td
div.thumb_border{top:-4px;left:-4px;padding:8px}table#menu_list_cat td div.thumb_border
img.box_section_thumbs{width:48px;height:48px}table#menu_list_cat td
table.auction_data{border-collapse:separate;border-spacing:3px;width:100%;margin:auto}table#menu_list_cat td table.auction_data
tr{border-width:0}table#menu_list_cat td table.auction_data
td{margin:0
!important;padding:0
0 0 5px !important;text-align:left !important}table#menu_list_cat td table.auction_data
td.nr{color:#434448;font-family:Arial,Helvetica,sans-serif;font-size:11px;font-weight:normal}table#menu_list_cat td
div.ellipsis{overflow:hidden;width:150px;text-overflow:ellipsis;margin:0;padding:0}table#menu_list_cat td table.auction_data td
a{color:#434448}table#page_layout{width:100%;margin:auto;text-align:center}table#page_layout
td{margin:0;padding:0;white-space:nowrap;text-align:center;vertical-align:top}table#page_layout
td.center{width:100%;padding:0}div.index_search_box{margin:0
15px}div.index_stuff_box{padding:0
15px}div.index_featured_auctions_box{}div.top_section_container{margin:20px
0 30px}div.categories_list.selected_{margin:22px
0 32px}div.page_center{margin:0
0 15px 0}div#new_stuff_box{}div#new_stuff_box table
td{vertical-align:top}div#new_stuff_box table
td.px{width:1px}div#new_stuff_box
table.layout{width:100%;border-collapse:collapse;border-spacing:0;empty-cells:show;margin:0;padding:0}div#new_stuff_box table.layout
td.vertical_separator{background-color:rgb(221, 221, 221)}div#new_stuff_box table.layout td.vertical_separator
div.vertical_separator_mask{background-color:rgb(255, 255, 255);height:15px;width:1px}div#new_stuff_box table.layout td
div.data_container{max-width:350px;min-width:230px}div#new_stuff_box table.layout td.side
*{text-align:left}div#new_stuff_box table.layout
td.side.left{padding-right:15px;width:50%}div#new_stuff_box table.layout
td.side.right{padding-left:15px;width:50%}div#new_stuff_box table.layout
td.side.right.bottom{vertical-align:middle}div.last_started_auctions_container
div#section_header{margin-bottom:10px}