body,form,div,table,td,th,tr,em,cite{font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#434448}div.site{background-repeat:repeat-y;background-position:top center}a,a:link,a:active,a:visited{color:black;text-decoration:underline}a:hover{color:#2e5035;text-decoration:underline}.welcome_message
a{font-weight:normal;text-decoration:underline !important}.welcome_message a:hover{text-decoration:none !important}#auctionInfo{float:right;color:#2e5035;margin-top:40px;text-align:right;white-space:nowrap}#navigation{width:518px}#current_date_time{font-size:10px;font-weight:bold;color:#2E5035;padding:0
0 1px;margin-bottom:22px}.navigation_one{background:url('../images/navigation_with_one_counter.png') no-repeat center right;width:305px}.navigation_two{background:url('../images/navigation_with_two_counters.png') no-repeat center right;width:370px}.navigation_none{background:url('../images/naviation_without_counters.png') no-repeat center right;width:230px}.navigation_all{background:url('../images/navigation_with_all_counters.png') no-repeat center right;width:440px}.user_menu{float:right;color:#2e5035;height:60px}.user_menu
ul{list-style:none;float:right;display:inline-block;margin-right:20px}.user_menu ul
li{float:left;display:inline-block;width:65px;height:32px;margin-top:15px;text-align:center}.user_menu ul li
a.nav_icon{line-height:7px;height:auto;display:inline-block;height:22px;width:25px;background:url('../images/sprites/header_tabs.png') no-repeat;text-indent:-5000px}.user_menu ul li
a.start_auction{background-position:2px center}.user_menu ul li a.start_auction:hover{background-position:-24px center}.user_menu ul li
a.user_cp{background-position:-53px center}.user_menu ul li a.user_cp:hover{background-position:-76px center}.user_menu ul li
a.help{background-position:-110px center}.user_menu ul li a.help:hover{background-position:-132px center}.user_menu ul li span
a{font-size:9px;line-height:2px;color:#585958}ul.counters{list-style-type:none;margin-top:5px;margin-left:10px;display:inline-block;float:left;line-height:24px}ul.counters
li{margin-top:18px;color:#585958;display:block;float:left;width:48px;height:60px;text-align:left;font-size:9px;text-align:center;line-height:30px}ul.counters li
span{font-size:18px;color:#E7B256;font-weight:bold;display:block;line-height:2px;letter-spacing:2px}.counters
.tmp_0{margin-left:6px}.counters
.tmp_1{margin-left:20px}.counters
.tmp_2{margin-left:20px}.social_icons{float:left;margin-top:5px;margin-right:5px;display:inline-block}.social_icons
a{width:24px;height:25px;padding-right:5px;text-indent:-2000px;display:inline-block;float:left}.social_icons
a.facebook{background:url('../images/icons/facebook.png') no-repeat center center}.social_icons
a.twitter{background:url('../images/icons/twitter.png') no-repeat center center}.social_icons
a.google_plus{background:url('../images/icons/g+.png') no-repeat center center}.social_icons_mini
a{width:18px;height:24px;padding-right:5px;text-indent:-2000px;display:inline-block;float:left}.social_icons_mini
a.facebook{background:url('../images/icons/facebook-19.png') no-repeat center center}.social_icons_mini
a.twitter{background:url('../images/icons/twitter-19.png') no-repeat center center}.social_icons_mini
a.google_plus{background:url('../images/icons/g+-19.png') no-repeat center center}.vertical_border{width:1px;background:#F0C63F}.show_prev_such_auction a, .show_next_such_auction
a{display:inline-block;float:left;width:30px;height:48px;margin-top:24px}.show_prev_such_auction
a{background:url('../images/arrow-prev.png');float:left}.show_next_such_auction
a{background:url('../images/arrow-next.png');float:right}.auction_mini_info{margin:0
5px}a{text-decoration:none !important}a:hover{text-decoration:underline !important}table.lists th
a{text-decoration:underline !important}table.lists th a:hover{text-decoration:none !important}table.lists th
a{text-decoration:none !important}table.lists th a:hover{text-decoration:underline !important}#content{text-align:left}#left{width:220px;margin-left:0;float:left}div.title{margin-bottom:6px}div.title1{margin-bottom:6px;margin-top:-13px}div.titleName{position:absolute;color:#2e5035;font-weight:bold;font-size:13px;margin-left:60px;margin-top:19px}div.titleName1{position:absolute;color:#2e5035;font-weight:bold;font-size:14px;margin-left:80px;margin-top:18px}div.title1
div.user_name_pane{position:absolute;right:0;margin-top:21px;margin-right:15px;font-weight:bold}ul.lists{list-style:none}ul.lists li
a{font-size:12px;display:inline-block;padding:5px
10px 5px 15px;margin:3px
0;color:#2E5035;font-weight:bold}ul.lists li a.selected,ul.lists li a:hover{text-decoration:underline}#all{color:#2e5035;font-weight:bold;font-size:12px;padding:4px
10px 4px 15px;margin-bottom:10px}#all
a{text-decoration:none;color:#2e5035}div.search{padding:5px
8px 12px 5px}div.green{color:#2e5035;font-weight:bold;margin:5px
0}#category{padding:17px
35px 17px 0;text-align:right;color:#2e5035;font-weight:bold;margin-bottom:25px}#center{width:510px;float:left;padding:0
19px}#centerTwo{padding:0
19px;margin-top:1px}table.products{padding:0
20px;margin:auto;width:90%}table.products
td{width:33%;text-align:center;padding:10px
0 15px 0}td h2 a,a.auctions_title{color:#2e5035;font-weight:bold;text-decoration:none;font-size:12px}td
p{font-size:11px}table.products td
img{margin:10px}div.imagePr{margin-bottom:10px;width:116px;height:116px;border:1px
solid #edc030;background-color:#fff}div.imagePr:hover{border:1px
solid #2e5035}div#top_auction_container{margin-left:15px}table.topAuctions{width:100%}table.topAuctions
th{background-image:url(../images/titlebg.png);background-repeat:repeat-x;padding:6px
10px 5px 10px;color:#2e5035;font-weight:bold;font-size:14px}table.topAuctions
td{background-color:#FCF1CE;text-align:center;padding:6px
2px}table.auctionList{width:100%}table.auctionList
th{background-image:url(../images/titlebg.png);background-repeat:repeat-x;padding:6px
10px 5px 10px;color:#2e5035;font-weight:bold;font-size:14px;border-right:1px solid #fff;text-align:left}table.auctionList
td{padding:6px
2px;border-bottom:1px solid #6c7175;border-right:1px solid #fff}table.auctionList td
div.imagePr{padding:0}table.auctionList tr.gray
td{background-color:#FCF1CE}table.auctionList
td.image{border-right:0;text-align:center;padding:6px
6px 10px 6px}table.topAuctions
img{border:2px
solid #2E5035}table.auctionList td.image
img{border:2px
solid #2E5035}table.auctionList td.center
img{border:none;display:block;margin:5px
0}table.auctionList
td.center{text-align:center}table.navigator{width:100%;margin:15px
0}table.navigator
td{text-align:center;border-top:2px solid #2e5035;padding:4px
2px;color:#2e5035;font-weight:bold}#product{padding:20px}span.title{background-image:url(../images/titlebg.png);background-repeat:repeat-x;color:#2e5035;font-weight:bold;padding:6px
10px;font-size:14px}#product
p{padding:10px}#product p
strong{color:#2e5035}table.prd{margin:0;margin-bottom:25px}table.prd
td{vertical-align:top}table.prd td.small
img{border:0;width:96px;height:96px}table.prd
td.small{padding-top:20px;text-align:left}table.prd td.small
a{}table.prd
td.productImg{vertical-align:top;text-align:center}table.prd td.productImg
img{border:0}table.prd td.productImg
div.base{border:2px
solid #2E5035;width:640px;height:480px;background-color:#FFF}table.prd
td.info{padding-left:15px}div.text
strong{display:block;margin-top:5px;font-size:14px}div.text{text-align:center;font-weight:bold;color:#edc030;padding-right:10px}div.text
div{text-align:center;font-size:14px;font-weight:bold;color:#edc030;margin-top:5px}#right{width:220px;margin-left:0;float:left}div.news{text-align:left;padding:0
25px 15px 15px}h3{color:#2e5035;font-weight:bold;font-size:14px;padding:0
0 5px 0}div.news
a{display:block;padding:5px
0 10px 0}#login{margin-top:7px;text-align:right;padding:10px
15px;text-align:right;width:209px}fieldset.search{margin:0;border:none;width:189px;display:block;padding-top:17px;margin:auto}fieldset.search input, fieldset.search
button{border:none;float:left}fieldset.search
input.box{color:#2e5035;font-size:1.2em;width:115px;height:23px;padding:0
5px 0 5px;background:url(../images/search_bg.png) no-repeat}fieldset.search input.box:focus{background:url(../images/search_bg.png) no-repeat left 0;outline:none}fieldset.search
button.btn{width:64px;height:23px;cursor:pointer;text-indent:-9999px;background:url(../images/search_bg.png) no-repeat top right}fieldset.search button.btn:hover{background:url(../images/search_bg.png) no-repeat bottom right}#search{margin-bottom:10px;text-align:right;padding-right:20px}#search
a{color:#2e5035}#search a:hover{color:black}table.formRgL{margin:auto}table.formRgL
th{font-weight:bold;padding:4px
10px 2px 2px;text-align:right;vertical-align:top;width:40%}table.formRgL
td{padding:2px
2px 5px 2px}table.formRgL
td.center{text-align:center}div.navProfile{text-align:center}div.subNavProfile{text-align:center}div.navProfile{background-color:#F1F1F1;padding-bottom:15px !important;margin-top:-6px}div.navProfile a, div.subNavProfile
a{text-decoration:none}div.navProfile a, div.subNavProfile a:hover{text-decoration:none}div.navProfile a.selected, div.subNavProfile
a.selected{font-weight:bold;text-decoration:underline;color:#2e5035}div.decorProfil{padding:6px;background-image:url(../images/titlebg.png);background-repeat:repeat-x}table.lists{width:100%}table.lists
a{text-decoration:none}table.lists a:hover{text-decoration:underline}table.lists a.underline:hover{text-decoration:underline}table.lists
th{background-image:url(../images/titlebg.png);padding:4px;border-right:1px solid white;text-align:center;font-weight:bold;color:#2e5035;width:80px}table.lists
th.left{text-align:left;width:495px}table.lists
td{padding:2px;border-right:1px solid white}table.lists
td.right{text-align:right;padding-right:5px}table.lists tr.gray
td{background-color:#fcf1ce}table.default{border-spacing:0;border-collapse:collapse}table.default
td{margin:0;padding:0}#fixedFooter{padding-bottom:100px}#bottom{width:100%;position:absolute;bottom:0 !important;bottom:-1px;height:100px;background-image:url(../images/backgrounds/bg-footer.png);background-repeat:repeat-x}#footer{padding:25px
0;color:#FFF}#footer
a{color:#FFF;text-decoration:none;padding:0
2px}#footer a:hover{color:#edc030;text-decoration:underline}#copy{text-align:center;font-size:10px;padding:10px
0 10px 0;color:#6C7175}#copy
a{color:#6C7175;font-size:10px;text-decoration:none}#copy a:hover{color:#2e5035;text-decoration:underline}div#feedback_start{margin:-1px 0 0 5px;width:16px;height:16px;float:right;background-position:-5px -5px}div#centerTwo{padding:0
0 0 19px;margin-top:-2px}.my_max_bid{width:auto;float:right;white-space:nowrap;margin-bottom:15px}div.rules{line-height:22px;width:800px;margin:0
auto}div.rules
ul{list-style-type:none}div.rules ul
li{margin-left:20px}table.restore_request{padding:0
10px}table.restore_request
tr{border-bottom:1px solid #fff}table.restore_request
tr.wait{background:#D0D0D0}table.restore_request
tr.reject{background:#F00}table.restore_request
tr.confirm{background:#0F4}#newRequest{width:120px;height:30px;background-color:#FFC642;border:1px
solid #FFC642;color:#284638;font-weight:bold;letter-spacing:1px;line-height:20px;cursor:hand}